---
import { getEntry, render } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const contactEntry = await getEntry('pages', 'contact');
const { title, actionButton } = contactEntry.data;
const { Content } = await render(contactEntry);
---

<Layout title={title} headerClass="solid-bg">
  <section class="page-section content-narrow" style="padding-top: 10rem;">
    <h1 class="page-title text-center text-huge stroke-text">Contact</h1>
    
    <div class="page-content-text text-center">
      <Content />
      <br>
      <br>
      {actionButton && (
        <a href={actionButton.link} class="btn btn-primary btn-animated">{actionButton.text}</a>
      )}
    </div>
  </section>
</Layout>
